@font-face {
    font-family: 'Asus Rog';
    src: url('./font/AsusRog-Regular.eot');
    src: url('./font/AsusRog-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/AsusRog-Regular.woff2') format('woff2'),
        url('./font/AsusRog-Regular.woff') format('woff'),
        url('./font/AsusRog-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background: #191919;
}

#time {
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

input:focus,
button:focus {
    /* border: 2px solid #4fbe4a; */
    border: 2px solid #666666;
    border-radius: 3px;
    outline: none;
    background-color: transparent;
    color: white;
}

div.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    transform: translateY(-150px);
}

input {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    margin: 5px;
    background-color: transparent;
    color: white;
    border-color: #ffffff1e;
    border-radius: 5px;
}

input::placeholder {
    font-size: 14px;
    color: #a6a6a6;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
}

button {
    margin: 15px 0;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    color: rgb(185, 185, 185);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #414141;
    border: 2px solid #414141;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: transparent;
}



/*  clock style */


.clockbox,
#clock {
    width: 150px;
    height: 150px;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #474747;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #9e9e9e;
}

.hour-marks {
    fill: none;
    stroke: #474747;
    stroke-width: 15;
    stroke-miterlimit: 10;
}

.hour-hand {
    fill: none;
    stroke: #707070;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-hand {
    fill: none;
    stroke: #ffffff;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-hand {
    fill: none;
    stroke: red;
    stroke-width: 7;
    stroke-miterlimit: 10;
}

.sizing-box {
    fill: none;
}

#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    transition: transform 0.5s ease-in-out;
}